@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


.display-flex {
    display: flex;
}

/* ===== COLORS ===== */
body {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

/*.header-bg {
    background: radial-gradient(circle at top, #2a0a52, #12001f);
    color: white;
}

.text-gradient {
    background: linear-gradient(45deg, #ff4ecd, #7f5bff);
    -webkit-background-clip: text;
    color: transparent;
}*/

/* ===== NAVBAR ===== */
/* ===== NAVBAR (FIGMA MATCH) ===== */
.navbar {
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 200px;
    box-sizing: border-box;

    background: rgba(26, 11, 46, 1);
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}


.nav-links {
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-weight: 500;
}

.hamburger {
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: none;
}


/* ===== BUTTONS ===== */
.btn-gradient {
    background: linear-gradient(45deg, #ff4ecd, #7f5bff);
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-gradient:hover {
    transform: scale(1.05);
}

.btn-outline {
    background: transparent;
    border: 1px solid #7f5bff;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
}

/* ===== BANNER ===== */
.banner {
    text-align: center;
    padding: 100px 20px;
}

.podcast-circle {
    width: 160px;
    height: 160px;
    background: linear-gradient(45deg, #ff4ecd, #ffc371);
    border-radius: 50%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-circle i {
    font-size: 60px;
}

.badge-new {
    position: absolute;
    top: 10px;
    right: -10px;
    background: #00ff9c;
    color: black;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 20px;
}



@media screen and (max-width: 576px) {

    .navbar {
        padding: 16px 20px;
    }

    .desktop-btn {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 92px;
        left: 0;
        width: 100%;
        background: rgba(26, 11, 46, 1);

        flex-direction: column;
        gap: 20px;
        padding: 20px 0;

        display: none;
    }

    /* CSS ONLY TOGGLE */
    #menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}
